<mat-toolbar [color]="cfg.toolbar_color" [ngClass]="cfg.toolbar_class" style="display:flex;" class="fixed-top animated slideInDown">
    <mat-slide-toggle #sidebarToggle></mat-slide-toggle>
    <span class=" text-center" style="flex: auto;">
        <span>
        <a *ngFor="let item of cfg.navbar_left">
            <button [color]="item.color" [matTooltip]="item.tooltip"  mat-raised-button ngClass="{{item.class}}" [matBadge]="item.matBadge" [matBadgePosition]="item.matBadgePosition||'above'" [matBadgeColor]="item.matBadgeColor" [matBadgeSize]="item.matBadgeSize||'medium'" (click)="item.clickfn()">{{item.label}}</button>
        </a>
        </span>
    </span>
    <a [innerHTML]="cfg.navbar_logo"></a>
    <span class=" text-center" style="flex: auto;">
        <span>
        <a *ngFor="let item of cfg.navbar_right">
            <button [color]="item.color" [matTooltip]="item.tooltip"  mat-raised-button ngClass="{{item.class}}" [matBadge]="item.matBadge" [matBadgePosition]="item.matBadgePosition||'above'" [matBadgeColor]="item.matBadgeColor" [matBadgeSize]="item.matBadgeSize||'medium'" (click)="item.clickfn()">{{item.label}}</button>
        </a>
        </span>
    </span>

    <button mat-icon-button [matMenuTriggerFor]="navMenu">
        <i class="material-icons">menu</i>
    </button>
    <mat-menu #navMenu>
        <a mat-menu-item *ngIf="!cfg.menuButtons&&!cfg.menuLinks">Menu currently has no items.</a>
        <button mat-menu-item *ngFor="let btn of cfg.menuButtons" (click)="btn.clickfn()">{{btn.label}}</button>
        <a mat-menu-item *ngFor="let link of cfg.menuLinks" routerLink="link.path">{{link.label}}</a>
    </mat-menu>
</mat-toolbar>